{% extends 'supershop/base.html' %}
{% block content %}


<table class="table table-hower table-dark">
   <thead>
<tr>

    <th scope="col">image</th>
    <th scope="col">Products</th>
      <th scope="col">Date Created</th>
    <th scope="col">Status</th>
      <th scope="col">Customer</th>
</tr>
   </thead>
 <tbody>

{% for order in orders %}
    <tr>

        <td scope="row"><img src="{{ order.product.image.url }}" width="50" height="50"></td>
        <td>{{ order.product.name }}</td>
        <td>{{ order.date_created }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.customer }}</td>

    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

